body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

.container {
  min-width: 320;
  max-width: 1158px;
  /* padding: 0;
  margin: 0 auto;
  margin: 0; */
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
  font-style: normal;
}

/* !===HEADER-SECTION==== */
.header-section {
  max-width: 320px;
  margin: 0 auto;
  border-bottom: 1px solid #e7e9fc;
  background: #ffffff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.header-logo-link {
  display: inline-block;
  padding: 18px 0;
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-part {
  color: #2e2f42;
}

.header-menu-btn {
  border: none;
  background-color: transparent;
}

.header-icon {
    fill: rgba(47, 47, 55, 1);
http://127.0.0.1:3002/index.html
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon:hover,
.header-icon:focus {
    fill: #404bbf;
}

/* ==HIDDEN MENU== */
.header-menu-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.header-menu {
    position: relative;
    padding: 72px 24px 40px 16px;
}

.menu-btn-overlay {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border: 1px solid #e7e9fc;
    background-color: transparent;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition-property: background-color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn-overlay:hover,
.menu-btn-overlay:focus {
    border: none;
    background-color: #404bbf;
}

.menu-close-icon {
    fill: #2e2f42;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn-overlay:hover .menu-close-icon,
.menu-btn-overlay:focus .menu-close-icon {
    fill:#ffffff;
}

.menu-page-list {
    margin-bottom: 75%;
}

.menu-page-item:not(:last-child) {
    padding-bottom: 40px;
}

.menu-page-link {
    display: block;
    color: #2E2F42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-page-link:hover,
.menu-page-link:focus {
    color: #404bbf;
}

.menu-contacts-list {
    margin-bottom: 48px;
    margin-top: 24px;
}

.menu-contacts-item:not(:last-child) {
    margin-bottom: 24px;
}

.menu-contacts-link {
    color: #434455;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contacts-link:hover,
.menu-contacts-link:focus {
    color: #404bbf;
}

.menu-social-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.menu-social-item {
    width: 100%;
    height: 100%;
}

.menu-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-link:hover,
.menu-social-link:focus {
    background-color: #404bbf;
}

.menu-social-icon {
    fill: #f4f4fd;
}

/* !===HERO SECTION=== */
.hero-section {
    width: 320px;
    height: 432px;
    background-color: #2e2f42;
    margin: 0 auto;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 72px 0;
}

.hero-title {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    max-width: 170px;
}

.hero-title>span {
    text-transform: none;
}

.hero-btn {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 32px;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

/* !===POWER SECTION=== */
/* ===power section */
.power-section {
    width: 320px;
    margin: 0 auto;
    background-color: #afffffa7;
}

.power-container {
    padding: 96px 16px;
}

.power-item:not(:last-child) {
    margin-bottom: 72px;
}

.power-item-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.power-item-text {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* !===ADAPTIVE=== */
@media screen and (min-width: 768px) {
.header-section {
    max-width: 768px;
}

.header-menu-btn {
    display: none;
}

.header-logo-link {
    margin-right: 120px;
}

.header-logo-link {
    color: violet;
    }
    
.header-menu-backdrop {
    position: relative;
    height: 72px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.menu-btn-overlay {
    display: none;
}

.header-menu {
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 0;
    /* display: flex; */
    margin-bottom: 0;
}

.menu-page-list {
    display: flex;
    gap: 40px;
    margin-bottom: 0;
    /* margin-right: 120px; */
    padding-top: 24px;
}

.menu-page-item.menu-page-item:not(:last-child) {
    padding-bottom: 0;
}

.menu-page-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.menu-contacts-item:not(:last-child) {
    margin-bottom: 0;
}

.menu-contacts-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
    padding-top: 16px;
    margin: 0;
}

.header-menu>.menu-contacts-list {
    align-items: center;
    justify-content: center;
}

.menu-contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-list {
    display: none;
}

/* ===hero section */
.hero-section {
    width: 768px;
    height: 436px;
}

.hero-container {
    padding: 112px 0;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
}

/* ===power section */
.power-section {
    width: 768px;
}

.power-container {
    padding: 96px 16px;
}

.power-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.power-item {
    width: calc((100% - 24px) / 2);
}

.power-item:not(:last-child) {
    margin-bottom: 0;
}

.power-item-title {
    text-align: left;
}

}

/* !=== */
@media screen and (min-width: 1158px) {
.header-section {
    min-width: 1158px;
}

.header-logo-link {
    margin-right: 76px;
}

.header-logo-link {
    color: rgb(144, 228, 232);
    }

.header-menu {
    justify-content: space-between;
}

.menu-contacts-list {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    gap: 40px;
    padding-top: 24px;
    
}

/* ===hero setion=== */
.hero-section {
    width: 1158px;
    height: 600px;
}

.hero-container {
    padding: 188px 0;
}

.hero-title {
    margin-bottom: 48px;
}

/* ===power section */
.power-section {
    width: 1158px;
}

.power-container {
    padding: 120px 16px;
}

.power-list {
    flex-wrap: nowrap;
}

.power-item {
    width: calc((100% - 72px) / 4);
}

.power-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.power-item-text {
    font-weight: 400;
}
}



